body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 0.2rem;
  grid-auto-rows: repeat(100, 1fr);
}

.cell {
  width: 0.5rem;
  height: 0.5rem;
}

.cell--alive {
  background-color: green;
}

.cell--dead {
  background: black;
}
